<% this.adminPage = 'hitokoto'; %>
<% include admin_header %>
<form method="post">

<div class="ui info message">
  <i id="btn-close" class="close icon"></i>
  <div class="header">示例</div>
  <pre><code>- hitokoto: 一言内容
  from: 来源（可选）
  weight: 随机权重（可选，默认为 1）</code></pre>
</div>

<% include monaco-editor %>
<div id="editor" class="editor" style="border: 1px solid #D4D4D5; height: 500px; margin-bottom: 20px; ">
  <%- this.showLoadingEditor(); %>
</div>
<input type="hidden" name="data">

<script type="text/javascript">
var originalData = <%- serializejs(data) %>;
var input = $('[name="data"]');
input.val(originalData);

$('#btn-close').click(function() {
  $(this).parent().transition('fade down');
});

window.onEditorLoaded(function () {
  var editor;
  window.editor = editor = window.createCodeEditor(document.getElementById("editor"), "yaml", originalData);
  $('form').on('submit', function () {
    input.val(editor.getValue());
  });

  $('#submit_button').removeClass('disabled');
});
</script>

<div style="text-align: center; ">
  <button id="submit_button" class="ui disabled blue labeled icon button"><i class="ui edit icon"></i>提交</button>
</div>
</form>
<% include admin_footer %>
